.game-setting-button {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
    background: linear-gradient(45deg, #ff6b6b, #f9ca24, #22a6b3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;  // Ajouter un curseur pointer
    transition: transform 0.2s ease-in-out;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
  
    span {
      font-size: 16px;
      color: #fff;
    }
  }
  