.game-setting-button {
    width: 100%;
    aspect-ratio: 1.56;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;  // Ajouter un curseur pointer
    transition: transform 0.2s ease-in-out;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    background: none;
  
    span {
      font-size: 24px;
      color: #fff;
    }

    // Définition des gradients dans une liste
    
  }

  