.template-playlist {
    position: relative;
	padding: 30px 30px 70px;

    &__link--container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        bottom: 0;
        left: 0;
        background: #000;
        padding: 10px 0;
        z-index: 1;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        overflow: hidden;
    }

    &__cover {
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
    }

    &__cover__wrapper {
        font-size: 0;
        border-radius: 5px;
        padding: 3px;
        background: #fff;
    }

    &__title {
        font-size: 40px;
        font-weight: 500;
        margin-top: 35px;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 2;
        color: #b2b2b2;
    }
}