/* app/styles/fonts.scss */
@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('/fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Boogaloo-Regular';
    src: url('/fonts/Boogaloo-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}