#player {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center ;
    width: 500px;
    padding: 30px 20px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background-color: black;

  
    #controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      width: 50%;
  
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #007bff;
        color: #fff;
        border: none;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 0.3s;
        background-color: #fff;

        svg {
          width: 20px;
          height: 20px;
          
          path {
            fill: #000;
          }
        }

        &.playPause {
          width: 60px;
          height: 60px;

          svg {
            width: 30px;
            height: 30px;
            
          }
        }
      }
    }
  
    .progress-bar {
      position: relative;
      width: 400px;
      height: 6px;
      background: #ccc;
      cursor: pointer;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
  
      .progress {
        height: 100%;
        background: rgb(255, 0, 157);
        border-radius: 5px;
      }
    }
  
    #tracklist {
      padding: 20px;
      button {
        text-align: left;
        width: 100%;
        padding: 10px;
        cursor: pointer;
        background-color: transparent;
        transition: background-color 0.3s;
        border: none;

        &.active {
          color: rgb(255, 0, 157);
        }
  
        &:hover {
          background-color: #000;
        }
      }
    }
  }
  